extends layout

block content
    |     
    section
      .d-flex.justify-content-center
        button#boardButton.btn.btn-primary.border.border-dark.mr-3.mt-3.ml-3(type='button')  New Board
    |
    h2 Boards
    |     
    #boards
    | 
    script(src='/javascripts/boardScripts.js')



    
